/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Inter", sans-serif; */
  font-family: "DM Sans", sans-serif;
  min-height: 100vh;
  background-color: #12121f;
}
