.hero {
  margin: 4rem;
  text-align: center;
  color: #ffffff;
}

.hero p {
  color: #6b7280;
}

.feature-cards {
  display: flex;
  gap: 8px;
  margin: 0 2rem;
}

.divider {
  border: none;
  border-top: 0.5px solid #3a3a5c;
  margin: 3.5rem 2rem 0 2rem;
}
