.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #1a1a2e;
  color: #ffffff;
}

.nav-badge {
  color: #afa9ec;
  border: 1px solid #534ab7;
  padding: 4px 12px;
  border-radius: 2rem;
}

.analyse-another-btn {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  background: transparent;
  color: #afa9ec;
  border: 0.5px solid #534ab7;
  border-radius: 8px;
  padding: 0 1rem;
}

.analyse-another-btn:hover {
  background: #534ab7;
  color: #ffffff;
  transition: all 0.2s ease;
}
